<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="https://i.nezto.re">
            SaveServer
        </a>
    </div>

    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/">
                Home
            </a>
            <a class="navbar-item">
                Shorten URL
            </a>
            <a class="navbar-item">
                Gallery
            </a>
        </div>


        <div class="navbar-end">
            <div class="navbar-item">
                <a href="https://nezto.re">By Neztore</a>
            </div>
        </div>
    </div>
</nav>