<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Image host</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
<%- include('../partials/navbar.ejs'); %>
<section class="first hero is-medium has-text-centered">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                <span class="tagline-one">save</span><span class="tagline-two">server</span>
            </h1>
            <h2 class="subtitle has-text-white">
                     By Neztore
            </h2>
        </div>
    </div>
</section>
<section>
    <h1 class="subtitle">Sharex host</h1>
</section>
</body>
</html>