@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
.first {
    background-color: #29A584;
}
.tagline-one {
    color: #354469;
    letter-spacing: 1.5px;
    font-family: Roboto, monospace;
}
.tagline-two {
    color: #ECECF1;
    letter-spacing: 1.5px;
    font-family: Roboto, monospace;
}
#hostname {
    border-bottom: 3px solid #32a568;
    font-family: monospace;
}
.spacer {
    margin-top: 10rem;
}