
<nav class="navbar has-shadow" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            SaveServer
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="main-nav-menu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-menu" id="main-nav-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/">
                Home
            </a>
            <a class="navbar-item" href="/short">
                Shorten URL
            </a>
            <a class="navbar-item" href="/dashboard">
                Dashboard
            </a>
        </div>


        <div class="navbar-end">
            <div class="navbar-item">
                <a href="https://github.com/Neztore/save-server" >Github </a>
            </div>
        </div>
    </div>

</nav>

<style>
    .navbar {
        margin-bottom: 0.3em;
    }
</style>