<!-- SaveServer by Neztore, https://github.com/neztore/save-server -->
<title>SaveServer: ShareX Server</title>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="description" content="Save-Server is a file upload server for ShareX." />
<meta property="og:image" content="/favicon.ico" />
<meta name="twitter:creator" content="@neztore_">
<meta name="twitter:image" content="/favicon.ico">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
<link rel="stylesheet" href="/css/shared.css">

<script src="/js/shared.js"></script>


